{{> navbar }}
<div id="index">
   <div class="jumbotron jumbotron-fluid">
  <div class="container" >
    <h1 class="display-4"><span class="dark-green">REC</span>-reate</h1>
    <p class="lead"><strong>Pick-up games made easy</strong></p>
  </div>
</div>
    <div class="container">

      
        <section id="Mission">

          <!--   Mission Statement   -->
            <div class="row mb-5">
                <div class="col-12  ">

                        <h2>Our Mission Statement</h2>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> 
                        
                        

                 </div>
             </div>
         </section>
            <section id="parkResults">
              <div class="row mb-5">
                <div class="col-6 listing"><ul class="list-unstyled">
                  <li class="media">
                    <img src="img/85th-Logo-FINAL-4-color_2.png" class="mr-3" alt="park logo">
                    <div class="media-body">
                      <h5 class="mt-0 mb-1"><strong>Park Name</strong></h5>
                      <p id="address">123 Fake st.</p>
                      <p id="city">Chicago, IL</p>
                      <p id="zipcode">60164</p>
                      <p id="telephone">888-555-1234</p>
                    </div>
                  </li>
                  <li class="media my-4">
                    <img src="img/85th-Logo-FINAL-4-color_2.png" class="mr-3" alt="park logo">
                    <div class="media-body">
                      <h5 class="mt-0 mb-1"><strong>Park Name</strong></h5>
                      <p id="address">123 Fake st.</p>
                      <p id="city">Chicago, IL</p>
                      <p id="zipcode">60164</p>
                      <p id="telephone">888-555-1234</p>
                    </div>
                  </li>
                  <li class="media">
                    <img src="img/85th-Logo-FINAL-4-color_2.png" class="mr-3" alt="park logo">
                    <div class="media-body">
                      <h5 class="mt-0 mb-1"><strong>Park Name</strong></h5>
                      <p id="address">123 Fake st.</p>
                      <p id="city">Chicago, IL</p>
                      <p id="zipcode">60164</p>
                      <p id="telephone">888-555-1234</p>
                    </div>
                  </li>
                </ul>
              </div>
                <div class="col-6">
                  <div id="map-container"><div id="map"></div></div>
                </div>
              </div>

             </section>


             <section class="results listing">
               <div class="row mb-5">
                <div class="searchresults col-12">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Park</th>
                        <th scope="col">Sport</th>
                        <th scope="col">Players</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Basketball</td>
                        <td>1/10</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Volleyball</td>
                        <td>5/12</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>Tennis</td>
                        <td>2/2</td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td>Larry</td>
                        <td>Tennis</td>
                        <td>2/2</td>
                      </tr>
                      <tr>
                        <th scope="row">5</th>
                        <td>Larry</td>
                        <td>Tennis</td>
                        <td>2/2</td>
                      </tr>
                      <tr>
                        <th scope="row">6</th>
                        <td>Larry</td>
                        <td>Tennis</td>
                        <td>2/2</td>
                      </tr>
                      <tr>
                        <th scope="row">7</th>
                        <td>Larry</td>
                        <td>Tennis</td>
                        <td>2/2</td>
                      </tr>
                      <tr>
                        <th scope="row">8</th>
                        <td>Larry</td>
                        <td>Tennis</td>
                        <td>2/2</td>
                      </tr>
                    </tbody>
                  </table>
      
      
                </div>

               </div>
             </section>
        
          





          
    </div>

    <!--End of content-->
</div>
