{{> navbar }}
<div id="index">
   <div class="jumbotron jumbotron-fluid">
  <div class="container" >
    <h1 class="display-4"><span class="dark-green">REC</span>-reate</h1>
    <p class="lead"><strong>Pick-up games made easy</strong></p>
  </div>
</div>
    <div class="container">

      
        <section id="Mission">

          <!--   Mission Statement   -->
            <div class="row mb-5">
                <div class="col-12  ">

                        <h2>Our Mission Statement</h2>

                        <p>Our mission is simple. To create an application that will bring people of all walks of life together in a fun and engaging way. Rec-Create is designed to appeal to the inner athlete in you. Whether you’re a former athlete and miss the game, or had an interest but never the opportunity to play the sport that you love, we are here to help.  Rec-Create’s long term goal is to create long lasting memories and bonds, all while promoting a healthy lifestyle, through the common love of sports.</p> 
                        
                        

                 </div>
             </div>
         </section>
            <section id="parkResults">
              <div class="row mb-5">
                <div class="col-6 listing"><ul class="list-unstyled">
                 {{#each parks}}
                  <li class="media">
                    <img src="img/85th-Logo-FINAL-4-color_2.png" class="mr-3" alt="park logo">
                    <div class="media-body">
                      <h5 class="mt-0 mb-1" id="facility_name"><strong>{{facility_name}}</strong></h5>
                      <p id="facility_type">{{facility_type}}</p>
                    </div>
                  </li>
                  {{/each}}
                </ul>
              </div>
                <div class="col-6">
                  <div id="map-container"><div id="map"></div></div>
                </div>
              </div>

             </section>


             <section class="results listing">
               <div class="row mb-5">
                <div class="searchresults col-12">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Park</th>
                        <th scope="col">Sport</th>
                        <th scope="col">Players</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Basketball</td>
                        <td>1/10</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Volleyball</td>
                        <td>5/12</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>Tennis</td>
                        <td>2/2</td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td>Larry</td>
                        <td>Tennis</td>
                        <td>2/2</td>
                      </tr>
                      <tr>
                        <th scope="row">5</th>
                        <td>Larry</td>
                        <td>Tennis</td>
                        <td>2/2</td>
                      </tr>
                      <tr>
                        <th scope="row">6</th>
                        <td>Larry</td>
                        <td>Tennis</td>
                        <td>2/2</td>
                      </tr>
                      <tr>
                        <th scope="row">7</th>
                        <td>Larry</td>
                        <td>Tennis</td>
                        <td>2/2</td>
                      </tr>
                      <tr>
                        <th scope="row">8</th>
                        <td>Larry</td>
                        <td>Tennis</td>
                        <td>2/2</td>
                      </tr>
                    </tbody>
                  </table>
      
      
                </div>

               </div>
             </section>
        
          





          
    </div>

    <!--End of content-->
</div>
